body{
    background-color: #f8f3f3;
    background-image: url('./assets/images/background-imag.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}